*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{

}
html{
  width: 100% !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}

#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid var(--bs-danger);
  border-radius: 50%;
  -webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader:after {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar{
  min-height: 4rem !important;
  width: 100%;
}
.navbar-brand{
  font-weight: 600 ;
  text-transform: capitalize ;
  font-size: 1.1rem;
}
nav .nav-link{
  text-transform: uppercase ;
  font-size: 1.1rem;
  font-weight: 400;
}
nav .nav-link:hover{
  color: red !important;
  /* font-weight: 500; */
}
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

.hero{
  /* background: rgb(209,203,203);
  background: -moz-linear-gradient(90deg, rgba(209,203,203,1) 13%, rgba(190,190,205,1) 74%, rgba(134,114,89,1) 100%, rgba(101,113,115,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(209,203,203,1) 13%, rgba(190,190,205,1) 74%, rgba(134,114,89,1) 100%, rgba(101,113,115,1) 100%);
  background: linear-gradient(90deg, rgba(209,203,203,1) 13%, rgba(190,190,205,1) 74%, rgba(134,114,89,1) 100%, rgba(101,113,115,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1cbcb",endColorstr="#657173",GradientType=1); */
  background-image: url(./assets/image/hero/overlay.png);
  color: #fff;
  padding-top: 8vh;
}
/* @media screen and (min-width: 1200px) {
  .hero{
    min-height: 80vh;
  }
} */

.hero h3{
  /* line-height: 1.5rem; */
  font-size: 2.2rem;
  margin-bottom: 40px;
}
.hero p{
  font-size: 1.1rem;
  margin-bottom: 40px;
  
}
.hero-right{
  position: relative;
  left: 9%;
  top: 33%;

  /* width: 50%; */
  overflow-x: hidden !important;
}
.hero-right img{
  max-height: 80vh;
  /* width: 500px;   */
  margin-top: 35%;
  overflow-x: hidden !important;
  margin-left: 40%;
}
.card{
  width: 18rem;
  border: none !important;
  outline: none !important;
}
.card-img-top{
  height: 20rem !important;
  aspect-ratio: 1 / 1;
}
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about-right{
  padding-left: 15vw !important;
  padding-top: 20vh;
  /* padding-right: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

@media screen and (max-width: 768px) {
  .about-right{
    min-height: auto;
    padding-top: 5vh;
  }
}

.about-right h2{
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  margin-bottom: 50px;
  /* text-align: center; */

}
.about-right p{
  font-family: verdana;
  flex-direction: row;
  margin-bottom: 30px;
  font-size: 1.2rem;
}
.about-right button{
  width: 200px;
  display: flex;
  /* align-self: center; */

}
.about-left{
  display: flex;
  position: relative;
}
@media screen and (max-width: 770px) {
  .about-left img:first-child{
    aspect-ratio: 1 / 1;
    height: 100Vh;
    width: 100%;
    align-self: center;
    display: flex;
  }
}
.sm-img{
  width: 50;
  height: 300px !important;
  position: absolute;
  margin-top: 43vh;
  left: 70%;
  
}

/*--------------------------------------------------------------
# Service section
--------------------------------------------------------------*/
.service{
  /* background-color: blanchedalmond; */
}
.service img{
  color: black;
  /* filter: hue-rotate(180deg); */
  filter: saturate(100%) brightness(75%) hue-rotate(180deg);
}
.service-title{
  padding: 60px;
}
.service-title h2{
  font-size: 2.3rem;
  margin-bottom: 30px;
  text-align: center;
}
.service-title p{
  text-align: center;
  font-size: 1.3rem !important;
  font-weight: 500;
}
.icon{
  margin-bottom: 10px;
  padding: 10px;
}
.icon h6{
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.icon p{
  font-size: 1rem;
}
/*--------------------------------------------------------------
# Breadcrumb Section
--------------------------------------------------------------*/
.breadcrumb{
  position: relative;
  width: 100vw;
}
.breadcrumb img{
  position: absolute;
  overflow: hidden;
  min-height: 70vh;
  width: 100%;
}

.breadcrumb img:last-child{
  top: 30vh;
  left: 101vh;
  overflow: hidden;
  min-height: 40vh;
  object-fit: cover;
  width: 50%;
}
.breadcrumb-title{
  /* position: absolute; */
  padding-top: 150px;
  /* margin-bottom: 100px; */
  height: 67vh;
  
}
.breadcrumb-title h2{
  font-size: 4rem;
  color: #fff;
  position: relative;
  width: auto;
}
.line{
  height: 10px;
  background-color: #ddd;
  /* position: absolute; */
  width: 50vmin;
}

/*--------------------------------------------------------------
# SignUp, Login Section
--------------------------------------------------------------*/

#signUp, #login{
  background-color: blue;
}

#authForms p span {
  cursor: pointer;
}

#signUp form, #login form{
  background-color: var(--bs-secondary);
  padding-bottom: 30px;
  margin-top: 50px;
  border-radius: 30px;
  margin-bottom: 50px;
  /* width: 100vw; */
  
  /* width: calc(100 - 10px); */
}

/* @media screen and (max-width: 500px) {
  #signUp form, #login form{
    width: 90vw;
  }
} */

#signUp h2, #login h2,#signUp h3, #login h3{
  color: #abb;
}
#signUp h2, #login h2{
  position: relative;
}
#signUp h2::before, #login h2::before{
  content: " ";
  height: 5px;
  background-color: #111;
  position: absolute;
  top: 45px;
  width: 90px;
  border-radius: 5px;
  /* left: 35%; */
  text-align: center;
  
}


#signUp h5, #login h5{
  color: #111;
}
/*--------------------------------------------------------------
# For Sidebar Section
--------------------------------------------------------------*/
.sidebar{
  height: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar::-webkit-scrollbar{
  width: 0.5rem;
}
.sidebar::-webkit-scrollbar-thumb{
  background-color: var(--bs-danger-text-emphasis);
  border-radius: 1rem;
}

.sidebar .nav-link{
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;

}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-danger);
  color: #111;
  text-decoration: none ;
}
.box:hover{
  background-color: var(--bs-danger-text-emphasis) !important;
  color: #fff;
}

/*--------------------------------------------------------------
# Top-bar section
--------------------------------------------------------------*/
.top-bar .nav-link{
  color: #fff !important;
}
.top-bar .nav-link:hover {
  background-color: #111;
  
}

/* ProductList.css */

.product-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 5px;
}

.product-list li {
  /* margin-bottom: 20px; */
  padding: 10px;
  border: 1px solid #ddd;
  width: 200px;
  /* margin: 10px; */
}

.product-list button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  align-self: center;
}
.product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex: 1 0 200px; */
  /* flex-grow: 8; */
}
@media screen and (max-width: 400px) {
  .product-list li{
    width: 100%;
    margin: 10px 10px ;
  }
}

/* Cart.css */

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

.user {
  width: 8rem;
  aspect-ratio: 1/ 1;
  background-color: #abb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.user img{

}
.user h2{
  padding-top: 10px;
  font-size: 24px;
}

/* Product Carousel */
.carousel{
  border-radius: 20px !important;
  overflow: hidden;
  height: 300px;
}

.carousel img{
  height: 90vh;
  

}
.carousel-caption{
  position: absolute;
  top: 20%;
  z-index: 1;
  overflow-y: hidden;
  /* left: 5%; */

}
.carousel-caption h3{
  font-size: 7vmax;
  font-family:Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: var(--alt-color2);
  background: linear-gradient(120deg, #3e1d98 50.19%, #0396FF 20.69%,  #fd4766 79.69%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.carousel-caption p{
  font-size: 4vmax;
  font-family: 'Franklin Gothic Medium';
  color: #592359;
}

footer h6{
  color: var(--bs-danger);
}